@model TranVanDiem_231230742_de02.Models.TvdCatalog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TvdCatalog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TvdCateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TvdCateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TvdCatePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TvdCatePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TvdCateQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TvdCateQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TvdPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TvdPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TvdCateActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TvdCateActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TvdId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
